<a href="https://colab.research.google.com/github/shiva2096/CTS_NLP/blob/master/CTS_NLP_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

In [2]:
data_url = 'https://raw.githubusercontent.com/shiva2096/CTS_NLP/master/ticket_Data.csv'

In [3]:
df = pd.read_csv(data_url)
print(df.shape)
df.head()

(6445, 2)

   TicketId                                        Description
0         1                                         Job re-run
1         2                                         Job Re-Run
2         3  the job failed due to row count mismatch betwe...
3         4  Job got failed due to name pipe error. Then jo...
4         5  Job got failed due to duplicate issue. Then is...

In [9]:
df['Tokenized_Description'] = df.apply(lambda row: word_tokenize(row['Description']), axis=1)

In [10]:
df.head()

   TicketId  ...                              Tokenized_Description
0         1  ...                                      [Job, re-run]
1         2  ...                                      [Job, Re-Run]
2         3  ...  [the, job, failed, due, to, row, count, mismat...
3         4  ...  [Job, got, failed, due, to, name, pipe, error,...
4         5  ...  [Job, got, failed, due, to, duplicate, issue, ...

[5 rows x 3 columns]